<!DOCTYPE html>
<html>
<head>
    <title>SourceMap Error Translator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('./scripts/app');
    </script>
    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/prism.css" rel="stylesheet" />
</head>
<body ng-app="sourceMapApp" ng-controller="sourceMapCtrl as sourceMap">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SourceMap Error Translator</a>
            </div>

        </div>
    </nav>

    <div class="container">
        <div id="minifier">
            <label for="sourceMap">Source Map File</label>
            <div class="well">
                <input id="sourceMap" class="form-control" type="text" ng-model="sourceMap.sourceMapFilename">
                <button class="btn btn-default" ng-click="sourceMap.getSourceMapFile()">...</button>
            </div>

            <div class="well lineColumn">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="lineNumber">Line Number</label>
                        <input id="lineNumber" ng-disabled="!sourceMap.sourceMapFilename" class="form-control" type="text" ng-model="sourceMap.line">
                    </div>
                    <div class="form-group">
                        <label for="columnNumber">Column Number</label>
                        <input id="columnNumber" ng-disabled="!sourceMap.sourceMapFilename" class="form-control" type="text" ng-model="sourceMap.column">
                    </div>
                </form>
            </div>

            <div class="well" ng-show="sourceMap.code" ng-cloak>
                Filename: {{sourceMap.sourceFilename}} Line: {{sourceMap.lineResult}}
            </div>

        </div>
        <h1  ng-cloak ng-show="sourceMap.loading">Loading</h1>
        <pre ng-cloak ng-show="sourceMap.code" id="codeView" ng-style="elementHeight()"  nag-prism source="{{sourceMap.code}}"
             class="line-numbers language-javascript" data-line="{{sourceMap.lineResult}}"></pre>


    </div>

    <script src="css/prism.js"></script>
</body>
</html> 